<div class="container">
    <h2>
      Customer details
    </h2>

    <div class="row">

        <div class="col-md-4 details-container">
            <h6>Personal details</h6>

            <table class="table table-striped">
              <tr>
                <td>
                  Name:
                </td>
                <td>
                  {{customer?.name}}
                </td>
              </tr>
              <tr>
                  <td>
                    Website:
                  </td>
                  <td>
                    {{customer?.website}}
                  </td>
                </tr>
                <tr>
                    <td>
                      Phone:
                    </td>
                    <td>
                      {{customer?.phone}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        Email:
                      </td>
                      <td>
                        {{customer?.email}}
                      </td>
                    </tr>
            </table>
        </div>

        <div class="col-md-4 details-container" *ngFor="let address of customer?.addresses">
            <h6 *ngIf="address.isPostalAddress"> Postal Address</h6>
            <h6 *ngIf="!address.isPostalAddress"> Invoicing Address</h6>  
          
          <table class="table table-striped">
              <tr>
                <td>
                  Street:
                </td>
                <td>
                  {{address.street}}
                </td>
              </tr>
              <tr>
                  <td>
                    Number:
                  </td>
                  <td>
                    {{address.number}}
                  </td>
                </tr>
                <tr>
                    <td>
                      Postcode:
                    </td>
                    <td>
                      {{address.postcode}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        City:
                      </td>
                      <td>
                        {{address.city}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                        Country:
                      </td>
                      <td>
                        {{address.country}}
                      </td>
                  </tr>
            </table>
        </div>

    </div>

</div>

